@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    height: 100vh;
    position: relative;
}
section#tel{
    position: absolute;
    width: 311px;
    height: 627px;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 23px;
    height: 471px;
    width: 266px;
}