@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    background-position: relative;
}
section#tel{
    width: 311px;
    height: 627px;
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
    background-position: absolute;
}
iframe#tela{
    background-position: -50px -50px;
    
}